header{
    width: 1440px;
    height: 82px;
    ul{
        display: flex;
        justify-content:end;
        align-items: center;
        list-style-type: none;
        position: relative;
        right: 50px;
      gap: 50px;
      button{
        width: 114px;
        height: 40px;
        border: none ;
        transition: 0.5s ease;
        &:hover{
            background-color: #333;
            color: #fff;
            
        }
      }
        li{
            
            
            a{
                color: #333;
                text-decoration: none;
               
            }
        }
    }
}